name: Deploy to agile

on:
  workflow_dispatch:
    inputs:
      cr:
        description: "ServiceNow change request number"
        type: string
        required: true
        default: "CHR1234"
      release_note:
        description: "Confluence link to release notes"
        type: string
        required: true
        default: "https://confluence.odido.nl/release_note.html"
      jira_release:
        description: "Jira release"
        type: string
env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  precheck:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "repo=${{ github.repository }}"
          if [ -z "${{ secrets.TEAMS_WEBHOOK }}" ]; then
            echo "TEAMS_WEBHOOK is empty in caller repo"
            exit 1
          fi

  deploy-web-public-agile:
    needs: precheck
    uses: nkumar88/devops-tools/.github/workflows/deployment.yaml@main
    with:
      helm_env: "agile"
    secrets: inherit
